<div class="p-3">
  <div class="text-center">
    <div class="card d-inline-block m-2" [routerLink]="['/detail', pokemon.name]" routerLinkActive="active"
      *ngFor="let pokemon of pokemonList?.results">
      <img class="card-img-top" src="../../assets/blank-profile.png" alt="Card image cap">
      <h6 class="text-capitalize text-truncate">{{pokemon?.name}}</h6>
    </div>
  </div>
  <div class="float-right mt-2">
    <button class="btn btn-primary mr-3" type="button" [disabled]="!(pokemonList?.previous && !previousLoading)"
      (click)="getPokemonData(pokemonList.previous); previousLoading = true;">
      <span></span>
      {{'Previous'}}
    </button>
    <button class="btn btn-primary" type="button" [disabled]="!(pokemonList?.next && !nextLoading)"
      (click)="getPokemonData(pokemonList.next); nextLoading = true;">
      <span></span>
      {{'Next'}}
    </button>
  </div>
</div>
