<div class="container text-center my-3">
  <div class="header title text-capitalize py-3">{{response.name}}</div>
  <div class="px-5 py-3">
    <div class="row my-3">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <span class="type text-color text-uppercase px-2 pb-1 font-weight-bold border text-white" [ngClass]="type?.type?.name"
          *ngFor="let type of response.types">{{type?.type?.name}}</span>
      </div>
      <h3 class="col-4 text-right">#{{response.id}}</h3>
    </div>
    <div class="row px-5">
      <img [src]="response?.sprites?.front_default" class="col-md-3 img-responsive" alt="">
      <div class="col-md-8">
        <div class="row my-1" *ngFor="let stat of response.stats">
          <div class="col-md-3 text-capitalize text-left">{{stat.stat.name}}</div>
          <div class="col-md-5 p-0 progress">
            <div class="progress-bar bg-success text-left" [style.width]="stat.base_stat + '%'">
              &nbsp;&nbsp;&nbsp;{{stat.base_stat}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-left">
      <h6>{{generaObject.genus}}</h6>
      <p>{{flavorObject.flavor_text}}</p>
    </div>
  </div>
  <div class="header title py-2 text-left  pl-3">Profile</div>
  <div class="px-5 py-3">
    <div class="row">
      <div class="row col-md-6" *ngIf="response.height">
        <div class="col-md-6 font-weight-bold text-left">Height:</div>
        <div class="col-md-6 text-left">{{response.height/10}} m</div>
      </div>
      <div class="row col-md-6" *ngIf="response.weight">
        <div class="col-md-6 font-weight-bold text-left">Weight:</div>
        <div class="col-md-6 text-left">{{response.weight/10}} kg</div>
      </div>
      <div class="row col-md-6" *ngIf="speciesData.capture_rate">
        <div class="col-md-6 font-weight-bold text-left">Catch Rate:</div>
        <div class="col-md-6 text-left">{{speciesData.capture_rate}} %</div>
      </div>
      <div class="row col-md-6" *ngIf="speciesData.gender_rate">
        <div class="col-md-6 font-weight-bold text-left">Gender Ratios:</div>
        <div class="col-md-6 text-left">{{speciesData.gender_rate}} %</div>
      </div>
      <div class="row col-md-6" *ngIf="speciesData.egg_groups?.length">
        <div class="col-md-6 font-weight-bold text-left">Egg Groups:</div>
        <div class="col-md-6 text-left">
            <span class="text-capitalize ability" *ngFor="let eggGrp of speciesData.egg_groups">{{eggGrp.name}}</span>
          </div>
      </div>
      <div class="row col-md-6" *ngIf="speciesData.hatch_counter">
        <div class="col-md-6 font-weight-bold text-left">Hatch Steps:</div>
        <div class="col-md-6 text-left">{{speciesData.hatch_counter}} </div>
      </div>
      <div class="row col-md-6" *ngIf="response.abilities?.length">
        <div class="col-md-6 font-weight-bold text-left">Abilities:</div>
        <div class="col-md-6 text-left">
          <span class="text-capitalize ability" *ngFor="let ab of response.abilities">{{ab.ability.name}}</span>
        </div>
      </div>
      <div class="row col-md-6">
        <div class="col-md-6 font-weight-bold text-left">EVs:</div>
        <div class="col-md-6 text-left">10</div>
      </div>
    </div>
  </div>
  <div class="header title py-2 text-left  pl-3 mt-3">Evolutions</div>
  <div class="px-5">
    <div class="row col-12">
      <div class="col-4">
        <img [src]="response?.sprites?.front_default" class="img-responsive pokemon-image" alt="">
      </div>
      <div class="col-4">
        <img src="../../assets/green-arrow-png-16658.png" style="margin-top: 34px;" class="img-responsive pokemon-image" alt="">
      </div>
      <div class="col-4">
        <img [src]="evolutionData.imageURL" class="img-responsive pokemon-image" alt="">
      </div>
    </div>
    <div class="">
      <p>{{response.name}} evolves into {{evolutionData.name}} <b>at level {{evolutionData.level}}.</b></p>
    </div>
  </div>
  <div class="header title py-2 text-left  pl-3 mt-3">Damage When Attacked</div>
  <div class="px-5 py-3">
    <div class="row col-12">
        <div class="col-md-6 mb-1" *ngFor="let damaged of damageData | keyvalue">
          <div class="col-md-6 text-uppercase px-2 pb-1 font-weight-bold border text-color text-left pl-2" [ngClass]="damaged.key">
            {{damaged.key}}
          </div>
      </div>
      </div>
    </div>
</div>