<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['home']" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['detail']" routerLinkActive="active">Detail</a>
      </li>
      <li *ngIf = 'showTab' class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['create-product']" routerLinkActive="active">Create Product</a>
      </li>
      <li *ngIf = 'showTab' class="nav-item">
        <a class="nav-link" data-toggle="collapse" data-target=".navbar-collapse.show" [routerLink]="['product']" routerLinkActive="active">Product List</a>
      </li>

    </ul>

  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <form class="form-inline my-lg-0">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="inputData" 
        (keydown.enter)="search()" (ngModelChange)="inputData = $event.toLowerCase()"
          placeholder="Minimum 3 characters required to search" [ngModelOptions]="{standalone: true}" aria-label="Search">
      </form>
    </li>
  </ul>
</nav>