<form [formGroup]="addProductForm" action="#" (ngSubmit)="submit(true)" method="post" novalidate>
    <div class="form-section">
        <h3>Details</h3>
        <div>
            <div class="form-section">
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <input type="text" formControlName="name">
                                <label for="float-input">Name
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg" *ngIf="addProductForm?.controls?.name?.errors?.required">
                                    "Name required"
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <input type="text" formControlName="description">
                                <label for="float-input">Description
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <input type="text" formControlName="price">
                                <label for="float-input">Price
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <label for="float-input">Category
                                    <em class="required">*</em>
                                </label>
                                <select class="custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <input type="text" formControlName="url">
                                <label for="float-input">Image Url
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <input type="text" formControlName="number">
                                <label for="float-input">Phone Number
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <span class="ui-float-label">
                                <select class="custom-select">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                                <label for="float-input">Phone Type
                                    <em class="required">*</em>
                                </label>
                                <span class="error member-msg">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button class="btn form-btn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>