.app-contain {
  position: relative;
  top: 60px;
}

.parentDisable {
  position: fixed;
  top: 0;
  left: 0;
  background: #666;
  opacity: 0.8;
  z-index: 998;
  height: 100%;
  width: 100%;
}

.overlay-box {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: .8;
}

.alert {
  max-width: 300px;
  position: fixed;
  right: 10px;
  bottom: 0;
  z-index: 1030;
}
